:root{
    --primary-color:#444;
    --primary-color-codeR:68;
    --primary-color-codeB:68;
    --primary-color-codeA:68;
    --secondary-color:#eece1a;
    --home-image: url(../img/hero-image.jpg);
    --background-opacity:0.9;
}