
@import '_config.css';
@import '_menu.css';

html{
    font-size:10px;
}

*{
    box-sizing:border-box;
}

body{
    background-color: var(--primary-color);
    color:#fff;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.5;
}

/* Headings */
h1,
h2,
h3{
    margin:0;
    font-weight:400;
}

h1.lg-heading{
    font-size:6rem;
}

h2.sm-heading{
    margin-bottom: 2rem;
    padding: 0.2rem 0;
    background:rgba(var(--primary-color-codeR),var(--primary-color-codeB),var(--primary-color-codeA),0.5);
}

a{
    color:#fff;
    text-decoration:none;
}

header{
    position:fixed;
    z-index:2;
    width:100%;
}

.text-secondary{
    color:var(--secondary-color);
}

main{
    padding: 4rem;
    height: 100%;
}

main .icons{
    margin-top:1rem;
}

main .icons a{
    padding: 0.4rem;
}

main .icons a:hover{
    color:var(--secondary-color);
    transition: all 0.5s ease-out;
}

main#home {
    overflow: hidden;
}

main#home h1{
    margin-top:20vh;
}

#bg-img{
    background: var(--home-image);
    background-attachment:fixed;
    background-size:cover;
}

#bg-img:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    z-index:-1;
    background:rgba(var(--primary-color-codeR),var(--primary-color-codeB),var(--primary-color-codeA),var(--background-opacity));
}
